<p>
  <b>Category:</b>
  <%= @recipe.category.name if @recipe.category %>
</p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Ingredients:</b>
<%= @recipe.ingredients.map(&:name).to_sentence %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>

<p>
  <b>Published date:</b>
  <%= @recipe.published_date %>
</p>


<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> |

<%= link_to 'Delete Recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'All Recipes', recipes_path %>