<p>
  <b>Name:</b>
  <%= @recipe.title %>
</p>

 <p><%= image_tag @recipe.recipe_image.detail.url %></p>

<p>
  <b>Category:</b>
  <%= @recipe.category.name if @recipe.category %>
</p>

<p>
  <b>Ingredients:</b>
<%= @recipe.ingredients.map(&:name).to_sentence %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>


<% if current_user && current_user.role == "admin" %>
<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> |
<%= link_to 'Delete Recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'All Recipes', recipes_path %>