<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Bj's Cookbook</h1>

<div class="navbar">
  <div class="navbar-inner">

    <ul class="nav">
      <li><%= link_to 'Home', root_path %></li>
      <li>  <%= link_to 'Recipes', recipes_path %></li>
      <li><%= link_to 'By Category', categories_path %></li>
      <li><%= link_to 'By Ingredient', ingredients_path %></li>
 <!--       <li> <% if controller_name == 'recipes' %>
    <%= link_to 'Add Recipe', new_recipe_path %>
  <% else %>
    <%= link_to 'Add Category', new_category_path %>
  <% end %></li> -->

  <li><%= link_to 'Search', search_path %></li>
    </ul>
  </div>
</div>


<%= yield %>

</body>
</html>
